.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.login-container {
  align-items: center;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 0 10px rgb(199, 199, 199);
  display: flex;
  flex-flow: column;
  margin: auto;
  padding: 20px;
  width: 20%;
}

.login-label {
  font-size: 1.5em;
  font-weight: 100;
  margin-bottom: 10px;
}

.form-control {
  border-radius: 9px;
  margin: 10px;
}


.login {
  align-items: center;
  background: white;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.header {
  align-items: center;
  background: #0fa36b;
  display: flex;
  flex-flow: row wrap;
  height: 10%;
  justify-content: space-between;
  width: 100%;

}

.container-md{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside{ 
  background-color: #0fa36b;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.img-aside{
  width: 100%;
  margin-top: 50%;
}

.search-btn {
  background: #0fa36b;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 1.5em;
  height: 40px;
  margin: 10px;
  width: 40px;
}

.search-form {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: auto;
}

.search-div {
  align-items: center;
  display: flex;
  flex-direction: row wrap;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.searchbar {
  width: 100%;
}

@media ( max-width : 768px ) {

  .login-container {
    width: 80%;
  }

  .header {
    height: 10%;
  }

  .search-form {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: auto;
  }
  aside{ 
    background-color: #0fa36b;
    height: 30%;
    width: 100%;
    top: 0;
    padding: 20px;
    position: fixed;

  }
  .img-aside{
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
  }
}
